*{
  padding: 0;
  margin: 0;

}
.about-image-div{
  width: 500px;
}
.about-image-div img{
  width: 100%;
}
#about-parent{
  display: flex;
  align-items: center;
  width: 900px;
  border: 2px solid red;
  margin: auto;
  margin-top: 70px;
  padding: 50px;
  box-shadow: 10px 10px 5px gray;
  border-radius: 5px;
  justify-content: space-between;


}
.about-text-div h2{
  font-size: 80px;
  color: blue;
  margin-top: 20px;
  margin-bottom: 100px;
}
.about-text-div a{
  text-decoration: none;
  background-color: blue;
  padding: 10px 25px;
  color: white;
  margin-top: 50px;
  display: inline-block;
  border-radius: 5px;
}
